
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    background-color:blueviolet;
    padding: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff9800;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
